/* Пункт 1: Усім посиланням меню задати фіолетовий колір через селектор тегу */
a {
    color: purple;
}

/* Пункт 2: Лише пунктам головного меню задати зелений колір через селектор класу */
.main-link {
    color: green;
}

/* Пункт 5: Прибрати маркери лише у вкладених списках через комбінатор нащадків трьох тегів */
ul li ul {
    list-style-type: none;
}

/* Пункт 4: Змінити маркер другого вкладеного списку на піктограму через селектор класу */
.vegetables-list {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='14' height='14'%3E%3Cpath fill='%23800080' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

/* Пункт 3: Змінити маркер останнього вкладеного списку на квадрат через селектор класу */
.berries-list {
    list-style-type: square;
}

/* Пункт 6: Прибрати підкреслення для посилань в останньому списку через комбінатор класу та тегу */
.berries-list a {
    text-decoration: none;
}

/* Пункт 7: Внутрішнє розташування маркерів/нумерації для списку ol через селектор тегу */
ol {
    list-style-position: inside;
}

ol li {
    margin-bottom: 6px;
    text-align: justify;
}