* {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 40px;
}

p {
    color: green;
    text-align: center;
}

div {
    text-align: justify;
}

.text-red {
    color: red;
}

.no-wrap {
    white-space: nowrap;
}

#styled-p2 {
    font-style: italic;
    font-weight: bold;
}

.with-shadow {
    text-shadow: 5px -5px 3px rgba(230, 80, 80, 0.7);
}

.div-style-1 {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}

.div-style-2 {
    letter-spacing: 30px;
    word-spacing: 50px;
}